.main {
    background-size: cover;
     background-position: 50%;
     height: 750px;
     margin-bottom: 180px;
     padding-top: 80px;
     width: 100%;
     background-image: url(https://toraiz.jp/english-times/src/data/uploads/2021/11/AdobeStock_280828158.jpeg);
    }
    
    .title {
    font-size: 60px;
    line-height: 110px;
    color: white;
    text-align: center;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
   
    .discover{
      text-align: center;
    }
  #address{
     height: 58px;
     margin-bottom: 16px;
     width: 60%;
  }
 
  .serch{
     align-items: center;
    
     width: 100%;
  }