.body{
    padding: 40px 30px 160px;
    max-width: 1140px;
}
.contain{
    display: flex;
    justify-content: space-between;
    grid-gap: 32px;
    gap: 32px;
}

.left_side{
    border: 1px solid #dfe2e6;
    background-color: #fff;
    height: fit-content;
    width: 336px;
}
.left_item{
    padding: 20px 24px;
    color: #333;
    font-size: 16px;
    line-height: 26px;
}
.left_item:first-of-type {
    border-bottom: 1px solid #dfe2e6;
}
 
.right_side{
    background-color: #fff;
    width: calc(100% - 32px);
}
.header{
    align-items: center;
    border-bottom: 1px solid #dfe2e6;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-bottom: 8px;
}

.edit_link{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.info{
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 25%;
    font-size: 20px;
}

a{
  color: #333;
  text-decoration: none;
  font-size: 15px;
}
//ここからプロフィール画面
.learn_more{
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-size: 20px;
    padding-bottom: 30px;
    display: flex;
}

.image_form, .name_form, .profile_form{
    width: 25%;
}

